*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

main{
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    padding: 100px;

    background-color:hsl(212, 45%, 89%) ;
}

.principal{
    text-align: center;
    background-color: white;

    border-radius: 10px;


    width: 19vw;
    height: 59vh;
    
    margin-left: 450px;


}
img{
    padding: 7px;
    border-radius: 15px;
    max-width: 250px;

}

h1{
    margin-left: 30px;
    font-weight: bold;
    color: hsl(218, 44%, 22%);

    width: 13vw;
    right: 700px;

}

p{
    color: hsl(220, 15%, 55%) ;
    font-size: 13px;
    padding: 15px;

}

@media (max-width:500px){
    .principal{
        margin-left: 60px;
        width: 43vw;
        height: 70vh;
    }
    img{
        max-width: 200px;
    }
    h1{
        margin-left: 30px;
        width: 30vw;
    }

}
@media (max-width:375px){
    main{
        padding: 60px;
        height: 100vh;
    }
    .principal{
        margin-top: 100px;
        margin-left: 10px;

        width: 60vw;
        height: 49vh;
        padding: 5px;
        
        border-radius: 20px;
    }
    img{
        max-width: 215px;
    }
    h1{

        margin-left: 15px;
        width: 50vw;
    }
    p{
        padding: 20px;
    }

}

