*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

body{
    background-color:hsl(212, 45%, 89%) ;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    background-color: #ffffff;
    margin: auto;

    width: 18.75rem;

    padding: 0.600rem;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem{
    border-radius: 15px;
    max-width: 100%;
}

.primeiro{
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-weight: bold;
    margin: 1rem 1rem;
}

.segundo{
    text-align: center;
    color: hsl(220, 15%, 55%) ;
    margin: 0 1rem 2rem 1rem;
}

